<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/eternity.css">
    <title>The Infinite Jest</title>
</head>
<body>

<div class="headerBanner">
    <h1><a id="headerTitle" href="/">THE INFINITE JEST</a></h1>
</div>

<div id="theFuture" style="display:none">
</div>

<div class="box" id="systemDisplay">
    <div class="column left"></div>
    <div id="middleColumn" class="column middle text-center">

        <p>Hello, and welcome to Human Music. There was an error here, and we are really sorry that you can't go into
            the platform and listen to the amazing music that people from all over the world have recommended. Please
            write us to hola@human-music.com in order for us to know what happened. If you are angry, sad or disappointed,
            let all the people know how unrealiable we are. But we'll work on get better, every day, because this place
            is important for the world.
        </p>
        <a href="/">Go to the present</a>
    </div>
    <div class="column right"></div>
</div>

<div class="footer">
    <a id="emailTag" href="mailto:hola@human-music.com">hola@human-music.com</a>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>